@model Cargomda.UI.Models.CategoryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <div class="row">
           <h2><div class="col-sm-3 col-xl-12">
                Kategori Seçiniz
                </div>
            </h2>
            <div class="col-sm-6 mt-4 col-xl-12">
                @using (Html.BeginForm("Index", "SubCategory", FormMethod.Post))
                {
                    @Html.DropDownListFor(model => model.SelectedCategoryId, Model.CategoryList, "Kategori Seçiniz", new { @class = "form-control" })
                    <br />
                    <input type="submit" value="Filtrele" class="btn btn-primary" />
                }
            </div>
        </div>

        <h6 class="mb-4 mt-4">Alt Kategori İşlemleri</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Alt Kategori Adı</th>
                    <th scope="col">Alt Kategori Durumu</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subcategory in Model.SubCategories)
                {
                    <tr>
                        <th scope="row">@subcategory.SubcategoryId</th>
                        <td>@subcategory.SubcategoryName</td>
                        <td>@(subcategory.Status ? "Aktif" : "Pasif")</td>
                        <td><a href="/SubCategory/DeleteSubCategory/@subcategory.SubcategoryId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/SubCategory/UpdateSubCategory/@subcategory.SubcategoryId" class="btn btn-outline-success">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/SubCategory/AddSubCategory/" class="btn btn-outline-info">Yeni Alt Kategori Girişi</a>
    </div>
</div>
