@model Entity.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="bg-light rounded h-100 p-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Kategori Düzenleme</h6>
        <form method="post">

            <input type="hidden" class="form-control" id="categoryid" asp-for="@Model.CategoryId" />
            <div class="form-group ">
                <label>Üst Kategori</label>
                @Html.DropDownListFor(x => x.ParentCategoryId, (SelectList)ViewBag.ktgr, "Ana Kategori Ekle", new { @class = "form-control" })

                <label>Ad</label>
                <input type="text" name="categoryname" class="form-control" value="@Model.CategoryName" />

                <label>Açıklama</label>
                <input type="text" name="categorydescription" class="form-control" value="@Model.CategoryDescription" />
            </div>
            <div class="form-group">
                <label for="CategoryStatus">Kategori Durumu:</label>
                <select class="form-control" id="CategoryStatus" name="CategoryStatus">
                    <option value="true">Aktif</option>
                    <option value="false">Pasif</option>
                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>


